.markdown-preview-view h1 {
    color: #A682FF;
}

.cm-header-1 {
    color: #A682FF;
}

.markdown-preview-view h2 {
    color: #6180C4;
}

.cm-header-2 {
    color: #6180C4;
}

.markdown-preview-view h3 {
    color: #1B7D88;
}

.cm-header-3 {
    color: #1B7D88;
}

i, em, span.cm-em{
    color: #CBAC88;
}

strong, span.cm-strong {
    color: #A6C36F;
}